<!doctype html>
<html ng-app="datavizApp">
<head>
   <title>Visualizing Market Subsector Weights and Price History</title>
   <style>
    .mainContainer { 
       opacity: 0;
      -moz-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease;
    }
    .mainContainer.loaded {
      opacity:1;
    }
   </style>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
   <link rel="stylesheet" href="css/slider.css" />   
   <link rel="stylesheet" href="css/app.css" />
</head>
<body>
   <h1>Market Subsector Weights and Price History</h1>
   <div class="container mainContainer" ng-controller="TreemapCtrl" ng-class="{loaded:true}">
       <button class="btn btn-default btn-lg pull-left" ng-click="togglePlay()" style="width:80px;">
         {{ !runAnimation && 'play' || 'pause' }}
       </button>

      <slider ng-model="currentIndex" floor="0" ceiling="{{dataKeys.length-1}}" translate="sliderTranslateFn"></slider>
      <br style="clear:both" />
      <!-- TODO: show animation step pause duration control. right now pause (frameLength) is 500ms --> 
      <div class="hidden">
        Pause between animation steps<input type="number" class="form-control" ng-model="frameLength" style="text-align:right;width:100px;display:inline;margin:10px;" />ms
      </div>
      <h2>{{ currentDay }}</h2>
      <d3-treemap data="currentData" on-click="treemapOnClick(item)" />
   </div>

   <script type="text/ng-template" id="dialog-tpl.html">
        <div class="modal-head">
          <h3>Price Change History for "{{ subsector }}"</h3>
        </div>
        <div class="modal-body">
            <line-chart config="chartConfig" data="chartData" ng-controller="StockChartCtrl"></line-chart>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Subsector</th>
                  <th>Min</th>
                  <th>Max {{series.length}}</th>
              </thead>
              <tbody>
                <tr ng-repeat="serie in selection">
                    <td>{{serie.name}}</td>
                    <td>{{serie.min}}</td>
                    <td>{{serie.max}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </script>

   <!-- Lib -->
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/highstock/js/highstock.src.js"></script>
   <script src="bower_components/angular-touch/angular-touch.js"></script>
   <script src="bower_components/venturocket-angular-slider/build/angular-slider.js"></script>
   <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
   <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
   <!-- App -->
   <script src="app.js"></script>
   <script src="services/d3.js"></script>
   <script src="services/priceHistoryStore.js"></script>
   <script src="services/sharedSubsector.js"></script>
   <script src="services/sharedSelection.js"></script>
   <script src="directives/d3treemap.js"></script>
   <script src="directives/linechart.js"></script>
   <script src="controllers/treemapCtrl.js"></script>
   <script src="controllers/dialogCtrl.js"></script>
   <script src="controllers/stockChartCtrl.js"></script>
</body>
</html>