<!doctype html>
<html ng-app="datavizApp">
<head>
   <title>Dataviz App</title>
   <style>
      .node {
        border: solid 1px white;
        font: 10px sans-serif;
        line-height: 12px;
        overflow: hidden;
        position: absolute;
        text-align:center;
        text-indent: 2px;
      }
      h1, h2 { text-align:center; }
      h2 { margin-top:0 !important;}
   </style>
   <link rel="stylesheet" href="css/slider.css" />
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
   <h1>Price Sector History Visualization</h1>
   <div class="container" ng-controller="TreemapCtrl">
      
      
       <button class="btn btn-default btn-lg pull-left" ng-click="togglePlay()" style="width:80px;">{{ !runAnimation && 'play' || 'pause' }}</button><slider ng-model="currentIndex" floor="0" ceiling="{{dataKeys.length-1}}" translate="sliderTranslateFn"></slider>
     
      <br style="clear:both" />
      <!-- TODO: show animation step pause duration control. right now pause is 1000ms --> 
      <div class="hidden">
        Pause between animation steps<input type="number" class="form-control" ng-model="animationSpeed" style="text-align:right;width:100px;display:inline;margin:10px;" />ms
      </div>
      <h2>{{ currentDay }}</h2>
      <d3-treemap data="currentData" on-click="treemapOnClick(item)" />
   </div>


   <!-- Lib -->
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-touch/angular-touch.js"></script>
   <script src="bower_components/venturocket-angular-slider/build/angular-slider.js"></script>
   <!-- App -->
   <script src="app.js"></script>
   <script src="services/d3.js"></script>
   <script src="directives/d3treemap.js"></script>
   <script src="controllers/treemapCtrl.js"></script>
   <!-- LiveReload Dev -->
   <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>